$pageWidth: 1200px;
$scintecoColor: #00beed;
$improveColor: #8dd033;
$headerBackgroundColor: #fff;
$pageBackgroundColor: #f7f9fa;
$footerBackgroundColor: #b5c3ce1a;
$colorDimmer: rgba(0, 0, 0, 0.1);

$white: #fff;
$dark: #191414;

$medium-screen-font-factor: 0.75;
$mobile-screen-font-factor: 0.4;

@function scale-font($font-size, $screen) {
  $factor: 1;

  @if $screen== "mobile" {
    $factor: $mobile-screen-font-factor;
  }

  @if $screen== "medium" {
    $factor: $medium-screen-font-factor;
  }

  @return ($font-size - 16px) * $factor + 16px;
}

$mobile-screen-horizontal-margin-factor: 0.35;
$medium-screen-horizontal-margin-factor: $mobile-screen-horizontal-margin-factor / 2;

$break-small: 700px;
$break-medium: 1024px;
$break-large: 1440px;

@mixin respond-to($media) {
  @if $media==mobile {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media==medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) {
      @content;
    }
  } @else if $media==wide-screens {
    @media only screen and (min-width: $break-medium) {
      @content;
    }
  } @else if $media==ultra-wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: $dark;
  font-size: 1em;
  line-height: 1.4;
  overflow-y: scroll;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  color: $dark;
  margin: 0;

  $font-size: 20px;
  font-size: $font-size;
  background-color: $pageBackgroundColor;

  @include respond-to(medium-screens) {
    font-size: scale-font($font-size, "medium");
  }

  @include respond-to(mobile) {
    font-size: scale-font($font-size, "mobile");
  }
}

h1,
h2,
h3 {
  margin: 14px 0 30px 0;
}

h1 {
  padding: 0;
  /*   line-height: 82px;
 */
  $font-size: 82px;

  $letter-spacing: -1.14px;
  letter-spacing: $letter-spacing;
  font-size: $font-size;
  line-height: $font-size;

  @include respond-to(medium-screens) {
    font-size: scale-font($font-size, "medium");
    line-height: scale-font($font-size, "medium");
    letter-spacing: $letter-spacing * $medium-screen-font-factor;
  }

  @include respond-to(mobile) {
    font-size: scale-font($font-size, "mobile");
    line-height: scale-font($font-size, "mobile");
    letter-spacing: $letter-spacing * $mobile-screen-font-factor;
  }
}

h2 {
  line-height: 1.13;

  $font-size: 48px;
  $letter-spacing: -0.67px;
  letter-spacing: $letter-spacing;
  font-size: $font-size;

  @include respond-to(medium-screens) {
    font-size: scale-font($font-size, "medium");
    letter-spacing: $letter-spacing * $medium-screen-font-factor;
  }

  @include respond-to(mobile) {
    font-size: scale-font($font-size, "mobile");
    letter-spacing: $letter-spacing * $mobile-screen-font-factor;
  }
}

h3 {
  line-height: 1.19;

  $font-size: 32px;
  $letter-spacing: -0.44px;
  letter-spacing: $letter-spacing;
  font-size: $font-size;

  @include respond-to(medium-screens) {
    font-size: scale-font($font-size, "medium");
    letter-spacing: $letter-spacing * $medium-screen-font-factor;
  }

  @include respond-to(mobile) {
    font-size: scale-font($font-size, "mobile");
    letter-spacing: $letter-spacing * $mobile-screen-font-factor;
  }
}

h4 {
  line-height: 1.19;
  $font-size: 24px;

  font-size: $font-size;

  @include respond-to(medium-screens) {
    font-size: scale-font($font-size, "medium");
  }

  @include respond-to(mobile) {
    font-size: scale-font($font-size, "mobile");
  }
}

p {
  margin: 15px 0 20px 0;
  /* text-align: justify; */

  $font-size: 20px;
  font-size: $font-size;
  hyphens: auto;

  @include respond-to(medium-screens) {
    font-size: scale-font($font-size, "medium");
  }

  @include respond-to(mobile) {
    font-size: scale-font($font-size, "mobile");
  }
}

a,
a:visited {
  color: $dark;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.right {
  float: right;
}

.section {
  &.top-spacing {
    margin-top: 5.1%;
  }
}

/* .accent-item .section {
  $padding-top: 83px;
  $padding-bottom: 85px;

  padding-top: $padding-top;
  padding-bottom: $padding-bottom;

  @include respond-to(medium-screens) {
    padding-top: $padding-top * $mobile-screen-horizontal-margin-factor;
    padding-bottom: $padding-bottom * $mobile-screen-horizontal-margin-factor;
  }

  @include respond-to(mobile) {
    padding-top: $padding-top * $mobile-screen-horizontal-margin-factor;
    padding-bottom: $padding-bottom * $mobile-screen-horizontal-margin-factor;
  }
} */

.container {
  max-width: $pageWidth;
  width: 70%;

  margin: auto;

  /*
  &.grid {

    display: grid;
    gap:  10% 10%;   

    &.col2 {
      grid-template-columns: repeat(2, minmax(0,1fr));
      gap: 150px;      

      @include respond-to(mobile) {
        display: block;
      }
    }

    &.col3 {
      &>div {
        @if $debug {
          outline: green 1px solid;
        }
      }

      grid-template-columns: repeat(3, minmax(0,1fr));     

      @include respond-to(medium-screens) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond-to(mobile) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }*/
}

.grid {
  min-width: 0;
  min-height: 0;
  display: grid;

  /*gap: 10% 10%;*/
  gap: 10px 40px;

  & > div {
    min-width: 0;
    min-height: 0;
  }

  grid-template-columns: repeat(2, 1fr);

  @include respond-to(mobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  &.col3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include respond-to(medium-screens) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

/* .icon-paragraph {
  padding-bottom: 200px;

  display: grid;
  gap: 20px;
  grid-template-columns: auto 17%;

  @include respond-to(mobile) {
    grid-template-columns: auto;
  }

  & > .icon-paragraph-text {
    margin-right: 0;

    grid-column: 1;
    grid-row: 1;

    @include respond-to(mobile) {
      grid-row: 2;
    }
  }

  & > .paragraph-icon-wrapper {
    position: relative;
    padding-bottom: 40%;
    max-height: 100px;

    grid-column: 2;
    grid-row: 1;

    @include respond-to(mobile) {
      grid-column: 1;
      padding-bottom: 20%;
    }

    & > .paragraph-icon {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;

      @include respond-to(mobile) {
        background-position: center;
      }
    }
  }
} */

.feature-icon-wrapper {
  position: relative;
  padding-bottom: 11%;

  box-sizing: border-box;

  @include respond-to(medium-screens) {
    padding-bottom: 9%;
  }

  @include respond-to(mobile) {
    padding-bottom: 5%;
  }

  .feature-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center left;

    max-height: 44px;

    @include respond-to(medium-screens) {
      max-height: 30px;
    }

    @include respond-to(mobile) {
      background-position: center;
      max-height: 27px;
    }
  }
}

.header {
  $margin-bottom: 110px;
  margin-bottom: $margin-bottom;

  &,
  a,
  a:visited {
    color: $white;
  }

  /* background-image: url(../img/scinteco_icon_lightblue.svg); */

  /* background: #000000; */
  background-color: $scintecoColor;

  $padding-top: 72px;
  $padding-bottom: 156px;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;

  @include respond-to(medium-screens) {
    padding-top: $padding-top * $mobile-screen-horizontal-margin-factor;
    padding-bottom: $padding-bottom * $mobile-screen-horizontal-margin-factor;
  }
  @include respond-to(mobile) {
    padding-top: $padding-top * $mobile-screen-horizontal-margin-factor;
    padding-bottom: $padding-bottom * $mobile-screen-horizontal-margin-factor;
  }

  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;

  &.improve-logo {
    background-image: url(../img/icon-bg-improve-cropped.svg);
  }
  &.contact-logo {
    background-image: url(../img/icon-bg-contact-cropped.svg);
  }
  &.scinteco-logo {
    background-image: url(../img/icon-bg-scinteco-cropped.svg);
  }

  h1 {
    margin: 0 20% 0 0;
    $margin-top: 0px;
    margin-top: $margin-top;

    @include respond-to(medium-screens) {
      margin-top: $margin-top * $mobile-screen-horizontal-margin-factor;
    }

    @include respond-to(mobile) {
      margin-top: $margin-top * $mobile-screen-horizontal-margin-factor;
    }
  }

  p {
    margin-top: 29px;
    font-weight: bolder;
    $font-size: 24px;
    font-size: $font-size;

    @include respond-to(medium-screens) {
      font-size: scale-font($font-size, "medium");
    }

    @include respond-to(mobile) {
      font-size: scale-font($font-size, "mobile");
    }
  }

  /* .down-link-wrapper {
    position: relative;
    margin-top: 7.2%;
    padding-bottom: 2%;
    min-height: 10px;

    .down-link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: left center;
    }
  } */
}

.section.tools {
  padding: 4% 0 6% 0;

  .grid {
    /*gap: 16% 10%;*/
    gap: 52px 10%;

    @include respond-to(medium-screens) {
      gap: 26px 6%;
    }

    @include respond-to(mobile) {
      gap: 15px 3%;
      grid-template-columns: repeat(2, 1fr);
    }

    & > div {
      position: relative;
      padding-bottom: 57%;

      & > div {
        border: solid 1px rgba(25, 20, 20, 0.2);
        /*min-height: 180px;*/

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.improve-color {
  color: $improveColor;
}

.kicker {
  font-size: 20px;
  margin: 3% 0 0 0;

  $font-size: 20px;
  font-size: $font-size;

  @include respond-to(medium-screens) {
    font-size: scale-font($font-size, "medium");
  }

  @include respond-to(mobile) {
    font-size: scale-font($font-size, "mobile");
  }
}

.image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &.cover {
    background-size: cover;
  }

  /*   &.header {
    background-image: url("../img/header_image_stream.jpg");
     "scinteco_icon_blue.svg" 
  } */

  &.data-lineage {
    background-image: url("../img/icon_data_lineage.svg");
  }
  &.audit-trail {
    background-image: url("../img/icon_audit_trail.svg");
  }
  &.file-history {
    background-image: url("../img/icon_file_history.svg");
  }
  &.dmg {
    background-image: url("../img/icon_dmg.svg");
  }
  &.discoverability {
    background-image: url("../img/icon_discoverability.svg");
  }
  &.documentation {
    background-image: url("../img/icon_documentation.svg");
  }
  &.docker {
    background-image: url("../img/icon_docker.svg");
  }
  &.icon-grid {
    background-image: url("../img/icon_grid.svg");
  }
  &.exploratory-work {
    background-image: url("../img/icon_exploratory_work.svg");
  }
  &.repo-image {
    background-image: url("../img/improve_repository.png");
  }

  &.icon-maps {
    background-image: url("../img/icon-maps.svg");
  }
  &.icon-ticket {
    background-image: url("../img/icon-ticket.svg");
  }
  &.icon-linkedin {
    background-image: url("../img/icon-linkedin.svg");
  }

  &.logo-nonmem {
    background-image: url("../img/third-party-logos/nonmem.png");
  }
  &.logo-monolix {
    background-image: url("../img/third-party-logos/monolix.png");
  }
  &.logo-pumas {
    background-image: url("../img/third-party-logos/pumas.png");
  }
  &.logo-sas {
    background-image: url("../img/third-party-logos/sas.png");
  }
  &.logo-matlab {
    background-image: url("../img/third-party-logos/matlab.png");
  }
  &.logo-rstudio {
    background-image: url("../img/third-party-logos/rstudio.png");
  }
  &.logo-frauenhauser {
    background-image: url("../img/third-party-logos/frauenhauser.svg");
  }
  &.logo-frauenhauser-wien {
    background-image: url("../img/third-party-logos/frauenhauser-wien.png");
  }
  &.logo-wiener-tafel {
    background-image: url("../img/third-party-logos/wiener-tafel.svg");
  }
  &.logo-scinteco {
    background-image: url("../img/logo_scinteco.svg");
  }
}

.link-icon {
  padding-left: 30px;
  margin-right: 10px;
}

.top-menu {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $headerBackgroundColor;

  .top-menu-wrapper {
    width: 86%;
    max-width: $pageWidth + 86px;
    margin: auto;
  }

  .logo-wrapper {
    position: relative;
    padding-bottom: 2.9%;
    width: 30%;
    min-height: 16px;
    float: left;
    margin: 0;

    .logo-scinteco {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: left;
    }
  }

  ul.navigation {
    list-style-type: none;
    padding: 3.6% 0 0 0;
    margin: 0;
    float: right;

    li {
      display: block;
      float: left;
      margin-left: 24px;
    }

    a {
      font-weight: bold;
      font-size: 20px;
      color: $dark;
      display: block;
      /* line-height: 58px; */
      padding: 3px;
      text-decoration: none;

      &.active {
        color: $scintecoColor;
      }
    }

    a:hover {
      text-decoration: underline;
      color: $scintecoColor;
    }
  }
}

.repo-image-wrapper {
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
  padding-bottom: 50%;

  .repo-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-wrapper {
  margin-top: 34px;
  margin-bottom: 62px;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

a.button {
  display: inline-block;
  background-color: $colorDimmer;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  padding: 21px 30px;

  $font-size: 14px;
  $letter-spacing: 1px;
  letter-spacing: $letter-spacing;
  font-size: $font-size;

  @include respond-to(medium-screens) {
    font-size: scale-font($font-size, "medium");
    letter-spacing: $letter-spacing * $medium-screen-font-factor;
  }

  @include respond-to(mobile) {
    font-size: scale-font($font-size, "mobile");
    letter-spacing: $letter-spacing * $mobile-screen-font-factor;
  }
}

.enumeration-grid {
  margin-top: 3.2%;
  margin-bottom: 3.2%;

  p {
    margin-bottom: 20px;

    $font-size: 16px;
    font-size: $font-size;

    @include respond-to(medium-screens) {
      font-size: scale-font($font-size, "medium");
    }

    @include respond-to(mobile) {
      font-size: scale-font($font-size, "mobile");
    }
  }
}

.imprint-content {
  padding-bottom: 100px;
}

.content {
  padding-bottom: 100px;
}

body.contact {
  .content {
    background-image: url(../img/scinteco-contact-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 30%;
  }
}

.footer {
  $font-size: 16px;
  font-size: $font-size;

  @include respond-to(medium-screens) {
    font-size: scale-font($font-size, "medium");
  }

  @include respond-to(mobile) {
    font-size: scale-font($font-size, "mobile");
  }

  & > div {
    background-color: $footerBackgroundColor;
    padding: 30px 0;
  }

  a {
    text-decoration: none;
    color: $dark;
  }
}

.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;

  box-sizing: border-box;
  transition: 0.5s ease;
  overflow: hidden;
  z-index: 100;
}

.imprint-overlay {
  .imprint-container {
    background-color: $scintecoColor;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;

    .imprint-content-wrapper {
      background-color: $white;
      box-sizing: border-box;
      height: 100%;
      padding: 80px 50px;
      overflow-y: scroll;
      overflow-x: hidden;

      .imprint-content {
        margin: auto;
        max-width: 940px;
      }
    }

    p {
      margin-top: 15px;

      &.center {
        text-align: center;
      }
    }

    label {
      font-weight: bolder;

      &::after {
        content: " ";
      }
    }

    .emphasize {
      font-weight: bolder;
      &.colored {
        color: $scintecoColor;
      }
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: $scintecoColor;

      &:hover {
        text-decoration: underline;
      }

      &.closeOverlay {
        color: $scintecoColor;

        .x-icon {
          font-size: 40px;
          font-weight: bold;
          line-height: 25px;
        }

        &:hover {
          text-decoration: none;
        }
      }

      &.button {
        color: $white;
        margin: 64px 660px 0 3px;
        padding: 26px 112px;
        border-radius: 3px;
        background-color: $scintecoColor;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .grid {
    width: 100%;
    /*outline: red 1px solid;*/
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
    text-align: left;

    .col1 {
      grid-column: 1;
      text-align: right;
    }

    .col2 {
      grid-column: 2;
    }
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.carousel {
  position: relative;
  height: 44px;
  margin-top: 38px;

  div {
    height: 100%;
    width: 100%;
  }

  .slide {
    width: 100%;
    height: 200%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50%;
    /* transform: scale(0.9); */
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  &.left .slide .image {
    background-position-x: left;
  }

  .showing {
    z-index: 1;
    transform: none;
    opacity: 1;
  }
}
